.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: 'Greycliff CF, ${theme.fontFamily}';
    font-size: 44;
    line-height: 1.2;
    font-weight: 900;

    [theme.fn.smallerThan('xs')]: {
      font-size: 28;
    },
  },
