.root {
  position: relative;
  z-index: 1;
  min-height: 125px;
}

.shell {
  display: flex;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  justify-content: center;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark));
  width: 100%;
  margin-top: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .link {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-sizes-sm);
    font-weight: 500;
  }
}

.dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-width: 0;
  overflow: hidden;
  font-size: var(--mantine-h6-font-size);

  @media (min-width: $mantine-breakpoint-sm) {
    .dropdown {
      display: none;
    }
  }

  .link {
    padding: 1rem;
  }
}

@media (max-width: $mantine-breakpoint-sm) {
  .links {
    visibility: hidden;
  }
}

@media (min-width: $mantine-breakpoint-sm) {
  .burger {
    display: none;
  }
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-sizes-sm);
  font-weight: 500;
}

.link:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  text-decoration: none;
}

@media (max-width: $mantine-breakpoint-sm) {
  .link {
    border-radius: 0;
  }
}

.linkActive,
.linkActive:hover {
  background-color: var(--mantine-color-primary-0);
  color: light-dark(var(--mantine-color-primary-3), var(--mantine-color-primary-7));
}

.headerImage {
  position: relative;
  margin-top: -3px;
  width: 45px;
  height: 45px;
  background-size: 45px;
  background-image: light-dark(url('/static/tv03@2x.png'), url('/static/tv01@2x.png'));
  background-repeat: no-repeat;
}

.headerLink {
  width: 45px;
}
